/*
 * Empty Stylesheet file.
 */

.mainMenu {  
    -fx-background-image: url("backgroundAirhockey.png");
}

.button
    {
        
    }
    
    .button:hover
    {
        -fx-background-color: dimgray;
        -fx-text-fill: white;
    }
